*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  background-color: rgb(182, 117, 60);
}

.headerContainer{
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin: 0 auto;
}

.headerNav{
  display: flex;
  align-items: center;
}

.link{
  margin: 30px;
  padding: 0;
  
}

.mainBody{
  background-color: rgb(41,41,41);
}